* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: arial;
}

main {
  margin: 0 15em;
}

header {
  width: 100%;
  background-color: rgb(106, 141, 181);
  color: white;
  padding: 3em 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  display: block;
  font-size: 3em;
  font-weight: bold;
  padding: 1em;
  font-family: Kumbh Sans, serif;
}

.content{
  border: solid 0.5em rgb(106, 141, 181);
  margin: 1em;
  padding: 0 4em 4em 4em;
}

.content-glossario{
  text-align: center;
  display: block;
  margin-top: 1em;
}

.content p{
  margin-bottom: 2em;
  display: block;
}

footer{
  height: 6.25em;
  background-color: rgb(106, 141, 181);
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0;
}



